@{
    ViewData["Title"] = "Pokemon";
}
<h1>POKEDEX</h1>

<div class="pokemon">
    <h3>NAME: @ViewBag.PokemonInfo.Name</h3>
    <img src="@ViewBag.PokemonInfo.Photo"/>
    <p>ID: @ViewBag.PokemonInfo.ID</p>
    <p>PRIMARY TYPE: @ViewBag.PokemonInfo.PrimaryType</p>
    <p>HEIGHT: @ViewBag.PokemonInfo.Height</p>
    <p>WEIGHT: @ViewBag.PokemonInfo.Weight</p>
    <p>TYPES: 

    </p>
</div>